@import "../../style/vars";

.filters-add{
    height: 42px;
    &__btn{
        display: grid;
        place-items: center;
        height: 42px;
        @extend %btn;
    }
    &__form{
        display: inline-block;
        margin-bottom: 16px;
    }
    &__form--loading{
        @extend %loading;
    }
    &__form-inner{
        display: flex;
    }
    &__input{
        padding: 10px;
        border-radius: 8px;
        border: 1px solid $mint;
    }
    &__btn-save,
    &__btn-cancel{
        margin-left: 16px;
        @extend %btn;
    }
    &__error{
        padding-top: 4px;
    }
}