@import "../../style/vars";

.store{
    &__top{
        background-color: $white;
        z-index: 3;
        padding-bottom: 24px;
        position: sticky;
        top: 0;
    }
    &__head{
        padding: 20px 0 20px;
        display: flex;
        justify-content: space-between;
    }
    &__cart{
        @extend %btn-with-img;
        &::before{
            top: 4px;
            background-image: url('../../assets/cart.svg');
        }
    }
}