@import "../../style/vars";

.filters-menu{
    display: flex;
    &--disabled{
        opacity: .5;
        pointer-events: none;
    }
    &__btn{
        @extend %btn-with-img;
        margin-right: 10px;
        transform: translateY(-1px);
        &::before{
            top: 4px;
            background-image: url('../../assets/filter.svg');
        }
    }
    &__btn-clear{
        @extend %btn;
        transition: all .5s;
        opacity: 0;
        pointer-events: none;
        margin-right: 32px;
        font-size: 14px;
        padding: 6px 12px;
        color: $cian;
    }
    &__btn-clear--visible{
        opacity: 1;
        pointer-events: fill;
    }
}