@import "../../style/vars";

.header{
    border-right: 1px solid#E9E9E9;
    height: 100vh;
    transform: translateX(-130px);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 85px 25px 15px;
    &__btn{
        @extend %btn;
        border-radius: 4px;
        transition: all .5s;
        &:hover{
            background-color: $mint;
        }
    }
}

.menu{
    &__item{
        margin-bottom: 20px;
    }
    &__btn{
        @extend %btn;
        border-radius: 4px;
        transition: all .5s;
        &:hover{
            background-color: $mint;
        }
    }
    &__btn--active{
        background-color: $mint;
    }
}