@font-face {
    font-family:'Inter-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('Inter-Regular'),
        // url('../fonts/Inter-Regular.woff2') format('woff2'), // does not want to work
        url('../fonts/Inter-Regular.woff') format('woff');
    font-display: block;
}