@import "../../style/vars";

.report-statistics{
    margin-bottom: 60px;
    &__list{
        display: flex;
    }
    &__item{
        min-width: 166px;
    }
    &__item + &__item{
        margin-left: 20px;
    }
    &__subtitle{
        margin-bottom: 8px;
        @extend %subtitle;
    }
    &__text{
        font-size: 24px;
    }
}