@import "../../style/vars";

.search{  
    position: relative;
    &::before{
        content: '';
        position: absolute;
        left: 6px;
        width: 24px;
        height: 24px;
        top: 4px;
        background-image: url('../../assets/search.svg');
    }  
    &__input{
        cursor: pointer;
        border: none;
        background-color: transparent;
        font-size: 14px;
        padding: 6px 12px 6px 40px;
        width: 400px;
    } 
    &__input::placeholder{
        color: $gray;
    }
}